.trait{
    height: 1px;
    width: 100%;
    background-color: black
}

@import "./settings";
@import "./components/navigation";
@import "./components/footer.scss";
@import "./pages/home";
@import "./pages/men";
@import "./pages/account";
@import "./pages/product";
@import "./pages/panier";
@import "./pages/footer";
